<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <servlet>
    <!--logical name for servlet-->
    <servlet-name>BaseballBat</servlet-name>
    <!--tomcat will create the servlet for us based on this information-->
    <servlet-class>com.ex.web.MyFirstServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>August Duet</param-value>
    </init-param>
      <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>BaseballBat</servlet-name>
    <!--http//:localhost:8080/mfs-->
    <url-pattern>/mfs</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.ex.web.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>Cookies</servlet-name>
        <servlet-class>com.ex.web.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/cookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sessions</servlet-name>
        <servlet-class>com.ex.web.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sessions</servlet-name>
        <url-pattern>/sessions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>com.ex.web.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>applicationName</param-name>
        <param-value>My First Web Application</param-value>
    </context-param>
</web-app>
